body, section {
    margin: 2rem;
}
.table tr { 
    font-size: larger; 
} 

.table tfoot{
    text-align: right;
    font-size: x-large;
}

.table-striped tr:nth-child(even){
    background-color: rgb(162, 221, 221);
}
.table-bordered {
    border-color: black;
    border-width: 5px;
    border-style: solid;
}